doctype html 
html 
    head 
        title Athey Creek Consultants
        link(rel='stylesheet' href='./../SASS/styles.css')
        
    body
    
        div.container
        
            include partials/header
                
            include partials/nav
                    
            hr
            
            main.contact-content
                
                h1 Contact Information
                
                div#map 
                script.
                    function initMap() {
                        var uluru = {lat: 45.381, lng: -122.651};
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 14,
                            center: uluru
                        });
                        var marker = new google.maps.Marker({
                            position: uluru,
                            map: map
                        });
                    }
                    
                script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsWS4mRrpslHNWkqqh2RnMhff4xTlrutc&callback=initMap")
                
                div.contact-info
                    h3 Dean Deeter, P.E.
                    p Principal
                    p Email: deeter@acconsultants.org
                
                div.contact-info
                    h3 Corporate Office
                    p Phone: (503) 343-9602
                    p Address: 2610 Lexington Terrace
                    p West Linn, OR 97068
                
                div.contact-info
                    h3 Minnesota Office
                    p Phone: (651) 207-5638
                    p Address: 2097 Co Rd D Suite C-100
                    p Maplewood, MN 55109
                
                
                span For more information about Athey Creek Consultants, email at atheyinfo@acconsultants.org.
                
            include partials/footer
            
                
                
                
            
                
            
