doctype html 
html 
    head 
        title Athey Creek Consultants
        link(rel='stylesheet' href='./../SASS/styles.css')
        
    body
    
        div.container
        
            include partials/header
                
            include partials/nav
                    
            hr
            
            main.faqs-content
                h1 Frequently Asked Questions
                
                div.qanda
                    p #[span.question Q]: Mauris at malesuada ante. Duis dolor massa, vestibulum at consequat id, blandit sit amet ex.
                    p #[span.answer A]: Sed tortor nibh, pretium eu vestibulum luctus, aliquam quis elit. Nulla convallis non odio vitae ultrices. 
                div.qanda
                    p #[span.question Q]: Mauris at malesuada ante. Duis dolor massa, vestibulum at consequat id, blandit sit amet ex.
                    p #[span.answer A]: Sed tortor nibh, pretium eu vestibulum luctus, aliquam quis elit. Nulla convallis non odio vitae ultrices.
                div.qanda
                    p #[span.question Q]: Mauris at malesuada ante. Duis dolor massa, vestibulum at consequat id, blandit sit amet ex.
                    p #[span.answer A]: Sed tortor nibh, pretium eu vestibulum luctus, aliquam quis elit. Nulla convallis non odio vitae ultrices.
                div.qanda
                    p #[span.question Q]: Mauris at malesuada ante. Duis dolor massa, vestibulum at consequat id, blandit sit amet ex.
                    p #[span.answer A]: Sed tortor nibh, pretium eu vestibulum luctus, aliquam quis elit. Nulla convallis non odio vitae ultrices.
                div.qanda
                    p #[span.question Q]: Mauris at malesuada ante. Duis dolor massa, vestibulum at consequat id, blandit sit amet ex.
                    p #[span.answer A]: Sed tortor nibh, pretium eu vestibulum luctus, aliquam quis elit. Nulla convallis non odio vitae ultrices.
                div.qanda
                    p #[span.question Q]: Mauris at malesuada ante. Duis dolor massa, vestibulum at consequat id, blandit sit amet ex.
                    p #[span.answer A]: Sed tortor nibh, pretium eu vestibulum luctus, aliquam quis elit. Nulla convallis non odio vitae ultrices.
                
                p Have additional questions? Contact us.
                
            include partials/footer
            
                
                
                
            
                
            
