doctype html 
html 
    head 
        title Athey Creek Consultants
        link(rel='stylesheet' href='./../SASS/styles.css')
        
    body
    
        div.container
        
            include partials/header
                
            include partials/nav
                    
            hr
            
            main 
                h1 Services & Expertise
            
                    
            include partials/footer
            
                
                
                
            
                
            
