footer
    nav
        ul
            li Home
            li Services
            li FAQs
            li About
            li Contact
    hr
    h5 Phone: (503) 343-9602  |  Address: 2610 Lexington Terrace, West Linn OR 97068
    p Copyright (c) 2016 Copyright Holder All Rights Reserved.
