nav.main-nav
    ul
        li
            a(href='home.html') Home
        li 
            a(href='services.html') Services
        li 
            a(href='faqs.html') FAQs
        li 
            a(href='about.html') About
        li 
            a(href='contact.html') Contact
